* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

a {
    text-decoration: none;
}


nav a {
    display: block;
    padding: 15px;
    text-transform: uppercase;
    color: #707272;
}

nav .active a {
    background-color: #39aae1;
    color: #fff;
}

nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner-headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-headline h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    width: 300px;
}

.banner-headline h2 {
    color: #fff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner-options {
    height: 500px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
    height: auto;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #39aae1;
}

.banner-title {
    font-size: 21px;
    margin-bottom: 30px;
}

.banner-desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #ffff;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.banner-hours {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    font-size: 18px;
}

#geral {
    display: flex;
    justify-content: center;

}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.widget-text {
    font-size: 16px;
    margin-top: 10px;
    border-bottom: 1px solid #cacccc;
    padding: 30px 0;
}

.widget-r-i {
    width: 100px;
    height: 100px;
    background-color: #36a9e1;
    margin: 10px;
}

address {
    font-size: 18px;
}

address .widget-contact {
    padding: 10px;
    font-size: 14px;

    margin-top: 5px;
    border-bottom: 1px solid #cacccc;
    display: flex;
    align-items: center;
    gap: 10px;
}

.widget-icone {
    width: 20px;
    height: 20px;
    background-color: #9ea1a1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dddfdf;
    padding: 3px;
}

ion-icon {
    color: #fff;
    font-size: 18px;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .news-data {
    display: flex;
}

.news_posted_at {
    background-color: #2b4c99;
    color: #fff;
    padding: 10px;
    margin-right: 2px;
}

.news_comments {
    background-color: #39aae1;
    color: #fff;
    padding: 10px;
}

article .news_thumbnail {
    margin-top: 30px;
}

article .news_thumbnail img {
    width: 100%;
    height: auto;
}

article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000;
    font-size: 23px;
}

article .news_resume {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.flex-news {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
}

.footer_menu {
    display: flex;
}


.fm-1,
.fm-2,
.fm-3 {
    flex: 1;
    color: #fff;
}

.banner1 {
    background-color: #39aae1;
}

.banner_desc {
    font-size: 12px;
    margin-top: 10px;
}


.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #39aae1;
}

.footer_area {
    display: flex;
    flex: 1;
}

.footer_area_item {
    flex: 1;
    color: #fff;
}

.flex-column {
    flex-direction: column;
}

footer .widget_title_text {
    color: #fff;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    margin-top: px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    color: #5c5c5c;
}

address .widget-cont-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #5c5c5c;
}

address .widget-cont-2 p {
    margin-top: -10px;
}

address .button {
    margin-bottom: 20px;
}

strong {
    color: #fff;
}

.left {
    margin-left: 20px;
}

.post-i {
    font-size: 14px;
}

.gray {
    color: #797777;
}

.widget_desc .blue {
    color: #36a9e1;
    display: inline-block;
    margin-top: -30px;
    font-size: 12px;
}

.widget-working {
    display: flex;
    gap: 10px;
}

.widget-working i {
    background-color: #535252;
    padding: 5px;
    color: #b9b9b9;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.mm_line {
    height: 3px;
    background-color: #39aae1;
}

@media (max-width: 800px) {
    .banner-headline {
        padding: 20px;
    }

    .banner-headline h1 {
        font-size: 55px;
    }

    .banner-headline h2 {
        font-size: 17px;
    }

    .banner-options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    #banner {
        height: auto;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_menu {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    header .container {
        flex-direction: row;
    }

    .footer_copy {
        padding: 20px;
    }

    .container {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    header {
        height: auto;
    }

    .logo {
        padding: 0 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}